<div class="container">

<h1><%= User.find(@message.sender_id).name + " messaged " + User.find(@message.receiver_id).name %></h1>

<div class="form-group">
	<%= "Sent @ "+ @message.created_at.to_s %>
</div>
<div class="form-group">
	<%= @message.text %>
</div>

<div class="list-group">
	<%= link_to 'Back', :back, class: 'btn btn-default' %>
</div>

</div>